[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"

[dev-packages]
conventional-pre-commit = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
