[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
pydantic-settings = "*"
alembic = "*"
asyncpg = "*"
pytest-asyncio = "*"

[dev-packages]
conventional-pre-commit = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.12"
